<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdm.tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zdm.tools.TestMainActivity"            
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name="com.zdm.tools.intent.CloseFlashlightIS"
            android:exported="false" >
        </service>
        <service android:name="com.zdm.tools.services.FlashLightService" >
        </service>

     <!--   <receiver android:name="com.zdm.tools.receiver.FlashLightReceiver" >
			静态注册的应用程序关闭指的是应用在缓存中，即通过返回按钮退出程序
            
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.TIME_SET"></action>
            </intent-filter>
           
        </receiver> -->

        <activity
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize"
            android:name="com.zdm.tools.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>